body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #394867;
}

#music {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  text-align: right;
  color: white;
  cursor: pointer;
}
#music i {
  color: yellow;
}

#gamearea {
  height: 100%;
  width: 100%;
  margin-top: 60px;
}

#game_container {
  background-image: url("background.jpg");
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

#gameboard {
  padding-top: 25px;
}

.block {
  width: 96px;
  height: 30px;
  margin: 2px;
  display: inline-block;
  float: left;
  border-radius: 20px;
  transform: scale(0);
  transition: 0.5s;
}

.block.animate {
  transform: scale(1);
}

#character_container {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#kezben_levo_blokk {
  width: 96px;
  height: 30px;
  position: absolute;
  top: 65%;
  left: 25%;
  transition: opacity 0.5s ease-in-out;
  border-radius: 20px;
}
#progressbar.animate {
  transform: scale(1);
}
#progressbar {
  transform: scale(0);
  transition: 0.5s;
}

#progressbar .ui-progressbar-value {
  background-color: rgb(48, 81, 225);
  color: white;
}

.progress-label {
  position: absolute;
  left: 50%;
  top: -1px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.ui-progressbar {
  height: 1em !important;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

#score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  color: green;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#score.show {
  opacity: 1;
}

#score.hide {
  opacity: 0;
}
.score {
  text-align: center;
  color: white;
  font-size: 26px;
}

.level {
  color: white;
  font-size: 26px;
}
